.appbar {
  position: fixed;
  background: var(--bg);
  width: 100%;
  z-index: 100;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: calc(var(--margin) / 2) calc(var(--margin));
}

.search-box {
  max-width: 200px;
  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);

  background: none;
  color: white;
  padding: 4px 8px;
}

.notification,
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 15px;
}
.notification {
  background: rebeccapurple;
}
.avatar {
  background: rosybrown;
}
